.list-loader {
    width: 20px;
    aspect-ratio: 3;
    background: radial-gradient(circle closest-side,#a5f3fc 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
    to {
        clip-path: inset(0 -34% 0 0);
    }
}